@import url(variables.css);

#logo{
    font-weight: 400;
}

h1{
    font-size: var(--blog-title-size);
    letter-spacing: -0.05rem;
    line-height: calc(var(--blog-title-size)*1.2);
}

h2{
    font-family: var(--secondary-font);
    text-transform: initial;
    font-style: italic;
    font-size: var(--blog-subhead-size);
    line-height: calc(var(--blog-subhead-size)*1.1);
}

.category{
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: var(--label-size);
    font-weight: 300;
}

time{
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: var(--h-size);
}

b{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
}

em,
cite{
    font-family: var(--secondary-font);
}

p,
figcaption{
    font-family: var(--primary-font);
    font-size: var(--h-size);
}

blockquote{
    font-family: var(--secondary-font);
    font-size: var(--logo-size);
}


.bio>p{
    font-family: var(--primary-font);
    font-size: var(--h-size);
    font-weight: 300;
    width: 75%;
}


.next-article-title > h1{
    font-size: var(--blog-subhead-size);
}

.share{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
}

@media (min-width: 600px) and (max-width:900px) {
    .article-title h1,
    .article-title h2{
        font-size: 5rem;
        line-height: 4.5rem;
    }
}

@media (min-width:901px) {
    .article-title h1,
    .article-title h2{
        font-size: 8rem;
        line-height: 7.7rem;
    }
}